<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="122c381c-c02a-48c3-8691-0f617d92f307" Publisher="CN=mert.sakarya" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MS.Video.Downloader.Metro</DisplayName>
    <PublisherDisplayName>mert.sakarya</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MS.Video.Downloader.Metro.App">
      <VisualElements DisplayName="MS.Video.Downloader.Metro" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MS.Video.Downloader.Metro" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="videosLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>